<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Liste des problèmes</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="bg-gray-100">
  <!-- menu -->
   <div class="p-4 bg-white shadow-md">
    <div>
      <a href="/issues" class="text-blue-500 hover:text-blue-700">Liste des problèmes</a>
    </div>
    <div>
      <a href="/create" class="text-blue-500 hover:text-blue-700">Soumettre un nouveau problème</a>
    </div>
   </div>
  
  <h1 class="mb-8 text-center text-2xl font-semibold">Liste des problèmes</h1>

<!-- tableau d'affichage des problèmes -->
  <div class="container mx-auto my-8 px-4">
 <table class="w-full table-auto max-w-4xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-black text-white">
      <tr>
        <th class="p-4">Auteur</th>
        <th class="p-4">Date de Création</th>
        <th class="p-4">Titre</th>
        <th class="p-4">Description</th>
        <th class="p-4">État</th>
      </tr>
    </thead>
    <tbody class="bg-grey-light">
      <% issues.forEach((issue)=> { %>
        <tr class="border-t border-b">
          <td class="p-4">
            <%= issue.auteur %>
          </td>
          <td class="p-4">
            <%= issue.dateCreation %>
          </td>
          <td class="p-4">
            <%= issue.titre %>
          </td>
          <td class="p-4">
            <%= issue.description %>
          </td>
          <td class="p-5">
            <%= issue.etat %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  </div>
 
</body>

</html>